version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: fastship_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "127.0.0.1:5440:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: fastship_redis
    restart: always
    ports:
      - "${REDIS_PORT}:6379"

volumes:
  postgres_data: